.order_block {
    width: 48%;
    display: flex;
    border: 1px solid #ccc;
}

.order_block p {
    margin: 0;
    padding: 0;
}

.order_block_inner {
    width: 100%;
    padding: 10px 20px;
}

.order_list {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #000;
}

.order_list_item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}