.menu_block {
    width: 50%;
}

.menu_block p {
    margin: 0;
    padding: 0;
}

.menu_block_inner {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.menu_item {
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu_item_img {
    width: 30%;
}

.menu_item_img p {
    font-size: 40px;
}

.menu_item_info {
    width: 65%;
}
