.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  /*padding: 50px 10px;*/
  margin-top: 10px;
  /*border: 1px solid #000;*/
}

.App_title {
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

